#Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/
*.whl

#Venv
.venv/
venv/
env/

#Environment variables
.env

#IDE
.vscode/
.idea/
*.swp
*.swo

#OS
.DS_Store
Thumbs.db

#Testing
.pytest_cache/
htmlcov/
.coverage
coverage.xml

#Ruff
ruff_cache/

.github/
.flake8
Makefile
.code-review-graph/
uv.lock
mypy.ini
